ChampSim-master/gap_spec_traces/*
ChampSim-master/results500M/*
ChampSim-master/results/*
ChampSim-master/bin/*
ChampSim-master/obj/*


ChampSim-master/results500M/*

ChampSim-master/results_100_2048/*
ChampSim-master/results_1600_2048/*
ChampSim-master/results_200_2048/*
ChampSim-master/results_3200_2048/*
ChampSim-master/results_400_2048/*
ChampSim-master/results_6400_2048/*
ChampSim-master/results_800_2048/*

ChampSim-master/results_pythia_adjust/*
ChampSim-master/results_pythia_dynamic3/*
ChampSim-master/results_pythia_sorted4/*
ChampSim-master/results_unsorted/*


Pathfinder/ChampSim/pathfinder_prefetches_gap_spec/
Pathfinder/ChampSim/pathfinder_prefetches_gap_spec_sorted/
Pathfinder/ChampSim/pathfinder_prefetches_gap_spec_alllong/
Pathfinder/ChampSim/pathfinder_prefetches_gap_spec_unsorted/
Pathfinder/ChampSim/pathfinder_prefetches_gap_spec_bak/
